.pierre, .papier,.ciseau{
    background-color: white;
    border-radius: 50%;
    padding: 30px;
}

.pierre{
    border:20px solid #db3e58;
}

.papier{
    border:20px solid #5371f5;
}

.ciseau{
    border:20px solid #eca721;
}

.row1choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2choices{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}
.container-maindeux>div{
    width: 150px;
    margin: auto; 
    display: block;
}

.vs, .container-maindeux, .youpicked{
    display: none;
}

.youpicked, .thehousepicked{
    text-align: center;
    font-size: 2em; 
    color: white; 
}


.presultat{
    font-size: 3em; 
    color: white;
    margin-block-end: 0.5em; 
}

.replay{
    display:block;
    margin: auto;
    font-size: 2em;
    color: #db3e58; 
    border-radius: 15%;
    padding: 10%;
    background: white;
    border: 2px solid white;
}
.container-mainun{
    background-image: url("../../src/design/images/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
}